/**Main styles for all Zartix*/

body{
    background-image: url("../img/squared_metal.png");
}

#logo>img{
    width: 100%;
}

#leftPanel div{
    height: 70px;
    background-color: rgba(100,100,100,.5); /**for test*/
}

#slider{
    display: inline-block;
    width: 600px;
    height: 400px;
    margin-left: auto;
}

.iconLeft{
    padding-top: 170%;
    margin-left: -30px;
    width: 50%;
}

.iconRight{
    padding-top: 170%;
    margin-right: -30px;
    width: 50%;
}

#advantOne{
    background-color: #282828;  /**for test*/
    height: 200px;              /**for test*/
}

#advantTwo{
    background-color: #285e8e;  /**for test*/
    height: 200px;              /**for test*/
}

#advantTree{
     background-color: #269abc;  /**for test*/
     height: 200px;              /**for test*/
 }

#topResumeOne{
    background-color: #843534;  /**for test*/
    height: 300px;              /**for test*/
}

#topResumeTwo{
    background-color: #ac2925;  /**for test*/
    height: 300px;              /**for test*/
}

#topResumeTree{
    background-color: #c0a16b;  /**for test*/
    height: 300px;              /**for test*/
}

#topResumeFour{
    background-color: #8a6d3b;  /**for test*/
    height: 300px;              /**for test*/
}
