/**Main styles for all Zartix*/

body{
    margin: 0;
    padding: 0;
    background-image: url("../img/squared_metal.png");
}

#head{
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(100,100,100, .2);
    width: 100%;
    height: 100%;
}

#leftPanel{
    width: 20%;
    height: 100%;
}

#logo>img{
    background-color: rgba(0, 179, 232, 0.2);
    width: 20%;
}

#resumes *{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border: 1px dashed #333;
    background-color: #61b7fc;
}

#mainContent{
    display: inline-block;
}

#slider{
    display: inline-block;
    width: 400px;
    height: 300px;
}

.iconLeft{
    padding-top: 170%;
    margin-left: -30px;
    width: 50%;
}

.iconRight{
    padding-top: 170%;
    margin-right: -30px;
    width: 50%;
}
